body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, rgb(36, 51, 187) 0%, rgb(197, 5, 62) 100%); /* w3c */
}

button {
  cursor: pointer;
}
